* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    padding: 30px 15px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin: 25px 0 15px;
}

/* Summary */

.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    padding: 20px;
    text-align: center;
    background: #f8fafc;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

/* Form */

.form-box {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

/* Filter */

.filter-box {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.filter-box input {
    flex: 1;
}

/* Transactions */

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.transaction-info h3 {
    margin-bottom: 5px;
}

.transaction-info p {
    color: #666;
    font-size: 14px;
}

.income {
    color: green;
}

.expense {
    color: red;
}

.actions {
    display: flex;
    gap: 7px;
}

.edit {
    background: #f59e0b;
}

.delete {
    background: #ef4444;
}

/* Mobile */

@media (max-width: 650px) {

    .summary {
        grid-template-columns: 1fr;
    }

    .form-box {
        grid-template-columns: 1fr;
    }

    .filter-box {
        flex-direction: column;
    }

    .transaction {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .actions {
        width: 100%;
    }
}